name: regex_pattern_text_field
description: A custom text editing controller that applies styles to matched patterns in a text field.
version: 1.0.1
homepage: https://github.com/pablostefan/regex_pattern_text_field

environment:
  sdk: '>=3.0.1 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:

